NEXT_PUBLIC_SUPABASE_URL=xxx
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=xxx

# Session pooler for local dev
DATABASE_URL=postgresql://postgres.xxx:yyy@zzz.supabase.com:5432/postgres

# Transaction pooler for Serverless hosting, such as Vercel, port `6543`
# DATABASE_URL=postgresql://postgres.xxx:yyy@zzz.supabase.com:6543/postgres

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

RESEND_API_KEY=
RESEND_FROM_EMAIL=E-ducare PIP <noreply@pip.e-ducare.org>
